# exclude node modules
node_modules
# exclude build
dist/*
# gitignore pattern constraint ...
!dist/uploads
# exclude uploaded files
**/uploads/*
# include directories
!**/uploads/.placeholder
# exclude jest coverage files
coverage
# exclude certificate and private key
.server.*