@charset "utf-8";

// ================ SCSS VARIABLES ==================

// default box-sizing
$box_sizing: border-box;

// default padding
$padding_default: 15px 15px;

// default radius
$radius_default: 15px;

// background and font color
$color_bg: #1f1d2a;
$color_ft: #b1a7eb;

// fonts size
$font_large: 45px;
$font_small: 15px;

// highlights
$color_highlight: rgb(208, 255, 0);

// app width
$main_width: 30%;